{% extends "emeralize/base.html" %}
{% load static %}
{% block title %}
{{ course.title }}
{% endblock %}

{% block content %}
    <div class="position-relative">
      <!-- Hero -->
      <div class="container content-space-4" >
        <div class="row mb-3">
          <div class="col-md-7 col-lg-8 zi-2">
            <div class="row my-3">
              <div class="col-3">
                <a class="btn-primary btn" href="{% url 'marketplace:discover' %}">Back</a>
              </div>
              
            </div>

            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
          {% endif %}
              {% comment %} <small class="badge bg-success rounded-pill">Bestseller</small>  {% endcomment %}
            <h1>{{ course.title }}</h1>
            <p>{% if course.excerpt %}{{course.excerpt}}{%endif%}</p>
            <div class="d-flex align-items-center flex-wrap">
              <!-- Media -->
              <div class="d-flex align-items-center me-4">
                <div class="flex-shrink-0 avatar-group avatar-group-xs">
                  <span class="avatar avatar-xs avatar-circle">
                    <img class="avatar-img" src="{{course.creator.user_profile.profile_pic.url}}" alt="Image Description">
                  </span>
                </div>
                <div class="flex-grow-1">
                  <span class="ps-2">Created by <a class="link" href="{% url 'marketplace:user-profile' course.creator.username %}">{{course.creator.username}}</a></span>
                </div> 

              </div>
              <!-- End Media -->
            
            </div>
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->

      </div>
      <!-- End Hero -->

      <!-- Sidebar -->
      <div class="container content-space-t-md-1 position-md-absolute top-0 start-0 end-0">
        <div class="row justify-content-end">
          <div class="col-md-5 col-lg-4 position-relative zi-2 mb-2 mb-md-0">
            <!-- Sticky Block -->
            <div id="stickyBlockStartPoint">
              <div class="js-sticky-block"
                   data-hs-sticky-block-options='{
                     "parentSelector": "#stickyBlockStartPoint",
                     "breakpoint": "md",
                     "startPoint": "#stickyBlockStartPoint",
                     "endPoint": "#stickyBlockEndPoint",
                     "stickyOffsetTop": 12,
                     "stickyOffsetBottom": 12
                   }'>
                <!-- Card -->
                <div class="card my-9">
                  <div class="p-1">
                    <!-- Fancybox -->
                    <div class="bg-img-start text-center rounded-2 py-10 px-5" style="background-image: url({{course.cover_image.url}});">

                    </div>
                    <!-- End Fancybox -->
                  </div>
                  
                  <!-- Card Body -->
                  <div class="card-body">
                    <div class="mb-3">
                      <span class="card-title h2">{{ course.price }} sats</span>
                       {% comment %} <span class="text-muted"><del>$114.99</del></span>  {% endcomment %}
                    </div>

                    <div class="d-grid mb-2">
                      {% if purchased or course.creator == request.user %}
                      <a class="btn btn-primary btn-transition" href="{% url 'criticalpath:course_detail' course.id %}">View</a>

                      {% else %}
                      <a class="btn btn-primary btn-transition" href="{% url 'marketplace:course_buy' course.id %}">Buy now</a>
                      {% endif %}
                    </div>

                  </div>
                  <!-- End Card Body -->
                </div>
                <!-- End Card -->
              </div>
            </div>
            <!-- End Sticky Block -->
          </div>
        </div>
      </div>
      <!-- End Sidebar -->
    </div>

    <!-- Content -->
    <div class="container content-space-t-1 content-space-t-md-1">
      <div class="row">
      

          <hr class="my-7"> 

           <div class="mb-4">
            <h3>About the instructor</h3>
          </div>

          <div class="row">
            <div class="col-sm-4 mb-4 mb-sm-0">
              <div class="mb-3">
                <img class="avatar avatar-xl avatar-circle" src="{{course.creator.user_profile.profile_pic.url}}" alt="Creator Profile Image">
              </div>
            </div>
            <!-- End Col -->

            <div class="col-sm-8">
              <!-- Info -->
              <div class="mb-2">
                <h4 class="mb-1"><a href="{% url 'marketplace:user-profile' course.creator %}">{{course.creator}}</a></h4>
              </div>

              <p>{{ user_profile.bio }}</p>
              <!-- End Info -->
            </div>
            <!-- End Col -->
          </div>
          <!-- End Row --> 

           
           <div class="border-top pt-7 mt-7">

        </div>

      </div>
    </div>
    <!-- End Content -->
    
    <!-- Sticky Block End Point -->
    <div id="stickyBlockEndPoint"></div>

{% endblock %}