{% extends "emeralize/base.html" %}
{% load static %}
{% block title %}
Marketplace
{% endblock %}

{% block content %}




    <!-- Card Grid -->
    <div class="container content-space-1 content-space-sm-1">
      <!-- Title -->
      <div class="w-md-75 text-center mx-md-auto mb-9">
        <h2>Resources</h2>
        <p>Check out some of the journeys other users have created. </p>
        {% if user.is_authenticated %}
        <a class="btn btn-danger btn-sm btn-transition" href="{% url 'marketplace:resource_create' %}">Add a Resource</a>
        {% endif %}
      </div>
      <!-- End Title -->
      
      <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 mb-5">
        {% for resource in resources %}
        <div class="col mb-5">
          <!-- Card -->
          <div class="card card-bordered h-100">
            <!-- Card Pinned -->
            <div class="card-pinned">
              <img class="card-img-top" src="{% if resource.cover_image %} {{ resource.cover_image.url }} {% endif %} " alt="Image Description">


            </div>
            <!-- End Card Pinned -->

            <!-- Card Body -->
            <div class="card-body">
              <small class="card-subtitle">{{ resource.category }}</small>

              <div class="mb-3">
                <h3 class="card-title">
                  <a class="text-dark" href="{% url 'marketplace:resource_detail' resource.id %}">{{ resource.title }}</a>
                </h3>
              </div>


            </div>
            <!-- End Card Body -->

            <!-- Card Footer -->
            <div class="card-footer pt-0">
              <div class="d-flex justify-content-between align-items-center">
                <div class="me-2">
                  <h5 class="card-title">{{ resource.price }} sats</h5>
                </div>
                <a class="btn btn-primary btn-sm btn-transition" href="{% url 'marketplace:resource_detail' resource.id %}">Learn More</a>
                {% if user.is_authenticated %}
                <a class="btn btn-success btn-sm btn-transition" href="{% url 'marketplace:resource_buy' resource.id %}">Buy</a>
                {% endif %}
              </div>
            </div>
            <!-- End Card Footer -->
          </div>
          <!-- End Card -->
        </div>
        <!-- End Col -->
        {% endfor %}
      </div>
      <!-- End Row -->

    </div>
    <!-- End Card Grid -->

{% endblock %}
