{% extends "emeralize/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
Form
{% endblock %}
{% block content %}
        
      <div class="container content-space-2 content-space-lg-3 mt-5 mb-5">
        <div class="row">
          <div class="col-12">
              {% if messages %}
                {% for message in messages %}
                  {{ message }}
                {% endfor %}
              {% endif %}
              <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-primary" type="submit" value="Submit">
                <input class="btn btn-primary" type="submit" onclick="window.location='{% url 'home' %}' ; return false;" value="Cancel">
              </form>
          </div>
        </div>
      </div>
{% endblock %}
