

{% extends "emeralize/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
Change Password
{% endblock %}
{% block content %}
        
      <div class="container content-space-1 content-space-sm-1 mt-5 mb-5">
        <div class="row">
          <div class="col-12">
            {% if form.errors %}
            <div class="alert alert-danger" role="alert">

            There was an error with your form.

            </div>
            {% endif %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-danger" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
            <img class="img-fluid rounded-top-2 my-2" src="{% static 'assets/emeralize-1.png' %}" style="max-width: 350px;" alt="Success Image">
            <h1>Change Password</h1>
            <p>Please fill out the form below to change your password.</p>

            <form action="{% url 'change_password' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}" method="post">
              {% csrf_token %}
              {{ form|crispy }}
              <button type="submit" class="btn btn-primary btn-transition">Save</button>

            </form>
          </div>
        </div>
      </div>
{% endblock %}
