/*------------------------------------
  Form Link
------------------------------------*/

.form-link {
  display: inline-block;
  font-size: $form-link-font-size;
  font-weight: $form-link-font-weight;
  margin-top: $form-link-margin-y;
}