{% extends "emeralize/base.html" %}
{% load static %}
{% block title %}
Success!
{% endblock %}

{% block content %}
        
      <div class="container content-space-2 content-space-lg-3">
        <!-- Page Header -->
        <div class="page-header">
          <div class="row align-items-center">
            <div class="col-sm mb-2 mb-sm-0">


              <h2 class="page-header-title">Success!</h2>
            </div>

            <div class="col-sm-auto">
              <a class="btn btn-primary btn-sm" href="{% if workshop %}{% url 'criticalpath:workshop_detail' workshop.id %}{%endif%}">
                <i class="bi-lightning me-1"></i> Start Learning
              </a>
            </div>
          </div>
        </div>
        <!-- End Page Header -->
      
        <div class="row">
            <div class="col">
              <img class="img-fluid rounded-top-2 my-2" src="{% static 'assets/emeralize-2.png' %}" style="max-width: 350px;" alt="Success Image">

                <p class="lead">Your purchase for {%if workshop %} {{ workshop.title }}{% endif%} was successful. Thank you!</p>
            </div>
        </div>

      </div>
{% endblock%}