{% extends "emeralize/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
Terms &amp; Conditions
{% endblock %}
{% block content %}
        
<main id="content" role="main">
    <!-- Hero -->
    <div class="bg-img-start" style="background-image: url(./assets/svg/components/card-11.svg);">
      <div class="container content-space-t-3 content-space-t-lg-5 content-space-b-2">
        <div class="w-md-75 w-lg-50 text-center mx-md-auto">
          <h1>emeralize Terms &amp; Conditions</h1>
          <p>Effective date: January 19, 2023</p>
        </div>
      </div>
    </div>
    <!-- End Hero -->

    <!-- Content -->
    <div class="container content-space-1 content-space-md-3">
      <div class="row">
        <div class="col-md-4 col-lg-3 mb-3 mb-md-0">
          <!-- Navbar -->
          <div class="navbar-expand-md">
            <!-- Navbar Toggle -->
            <div class="d-grid">
              <button type="button" class="navbar-toggler btn btn-white mb-3" data-bs-toggle="collapse" data-bs-target="#navbarVerticalNavMenu" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navbarVerticalNavMenu">
                <span class="d-flex justify-content-between align-items-center">
                  <span class="text-dark">Menu</span>

                  <span class="navbar-toggler-default">
                    <i class="bi-list"></i>
                  </span>

                  <span class="navbar-toggler-toggled">
                    <i class="bi-x"></i>
                  </span>
                </span>
              </button>
            </div>
            <!-- End Navbar Toggle -->

            <!-- Navbar Collapse -->
            <div id="navbarVerticalNavMenu" class="collapse navbar-collapse">
              <ul id="navbarSettings" class="js-sticky-block js-scrollspy nav nav-tabs nav-link-gray nav-vertical"
                  data-hs-sticky-block-options='{
                   "parentSelector": "#navbarVerticalNavMenu",
                   "targetSelector": "#header",
                   "breakpoint": "md",
                   "startPoint": "#navbarVerticalNavMenu",
                   "endPoint": "#stickyBlockEndPoint",
                   "stickyOffsetTop": 80
                 }'>
                <li class="nav-item">
                  <a class="nav-link active" href="#accountInfo">1. Accounts</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#linksToOtherWebsInfo">2. Links to other websites</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#terminationInfo">3. Termination</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#goveringLawInfo">4. Governing law</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#changesInfo">5. Changes</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#copyright">6. Copyright Policy</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#restrictedTopics">7. Restricted Content</a>
                </li>
              </ul>
            </div>
            <!-- End Navbar Collapse -->
          </div>
          <!-- End Navbar -->
        </div>
        <!-- End Col -->

        <div class="col-md-8 col-lg-9">
          <div class="mb-7">
            <p>Thanks for using our products and services ("Services"). The Services are provided by emeralize, Inc. ("emeralize"), located at  9450 SW GEMINI DR PMB 73155 BEAVERTON, OR 97008.</p>

            <p>By using our Services, you are agreeing to these terms. Please read them carefully.</p>

            <p>Our Services are very diverse, so sometimes additional terms or product requirements (including age requirements) may apply. Additional terms will be available with the relevant Services, and those additional terms become part of your agreement with us if you use those Services.</p>
          </div>

          <div id="accountInfo" class="mb-7">
            <h4>1. Accounts</h4>

            <p>When you create an account with us, you must provide us information that is accurate, complete, and current at all times. Failure to do so constitutes a breach of the Terms, which may result in immediate termination of your account on our Service.</p>

            <p>You are responsible for safeguarding the password that you use to access the Service and for any activities or actions under your password, whether your password is with our Service or a third-party service.</p>

            <p>You agree not to disclose your password to any third party. You must notify us immediately upon becoming aware of any breach of security or unauthorized use of your account.</p>
          </div>

          <div id="linksToOtherWebsInfo" class="mb-7">
            <h4>2. Links to other websites</h4>

            <p>Our Service may contain links to third-party web sites or services that are not owned or controlled by emeralize.</p>

            <p>emeralize has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that emeralize shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.</p>

            <p>We strongly advise you to read the terms and conditions and privacy policies of any third-party web sites or services that you visit.</p>
          </div>

          <div id="terminationInfo" class="mb-7">
            <h4>3. Termination</h4>

            <p>We may terminate or suspend access to our Service immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.</p>

            <p>All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p>

            <p>We may terminate or suspend your account immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.</p>

            <p>Upon termination, your right to use the Service will immediately cease. If you wish to terminate your account, you may simply discontinue using the Service.</p>

            <p>All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p>
          </div>

          <div id="goveringLawInfo" class="mb-7">
            <h4>4. Governing law</h4>

            <p>These Terms shall be governed and construed in accordance with the laws of Jersey, without regard to its conflict of law provisions.</p>

            <p>Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have between us regarding the Service.</p>
          </div>

          <div id="changesInfo" class="mb-7">
            <h4>5. Changes</h4>

            <p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 30 days notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.</p>

            <p>By continuing to access or use our Service after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, please stop using the Service.</p>
          </div>

          <div id="copyright" class="mb-7">
            <h4>6. Copyright Act Policy</h4>
            <p>This policy is intended to implement the procedures described in the Title II of the Digital Millennium Copyright Act, 17 U.S.C. Section 512 (DMCA) for the reporting of alleged copyright infringement. It is the policy of emeralize to respect the legitimate rights of copyrights owners, their agents and representatives. Users of any part of emeralize computing system are required to respect the legal protections provided by applicable copyright law. </p>

            <h5>Designated Agent</h5>
            <p>Notification of alleged infringement should be sent to our <a href="infotimechainllc@gmail.com">designated agent</a>. Upon receipt of notification of claimed infringement, we will follow the procedures outlined on this page and in the DCMA. Complaints made to our designated agent will be communicated to the appropriate Web content manager within emeralize. 
            </p>
            <h5>COMPLAINT NOTICE PROCEDURES FOR COPYRIGHT OWNERS
            </h5>
            <p>
              A notice of alleged copyright infringement to the designated agent must include the following.
            </p>
              <ul>
                <li>An electronic or physical signature of the copyright owner or a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.
                </li>
                <li>Identification of the copyrighted work claimed to have been infringed, or if multiple copyrighted works at a single online site are covered by a single notice, a representative list of such works at that site.                </li>
                <li>Identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit emeralize to locate the material.

                </li>
                <li>Information reasonably sufficient to permit emeralize to contact the complaining party, such as an address, telephone number, and, if available, an electronic mail address at which the complaining party may be contacted.

                </li>
                <li>A statement that the complaining party has a good faith belief that use of the material in the matter complained of is not authorized by the copyright owner, its agent, or the law.

                </li>
                <li>A statement that the information in the notice is accurate, and under penalty of perjury, that the complaining party is authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.

                </li>
                <li>
                  Failure to include all of the above information may result in a delay of the processing or the DCMA notification. 
                </li>
              </ul>
            <h5>Notice and Takedown Procedure</h5>
            <p>
              It is expected that all users of any part of emeralize will comply with applicable copyright laws. However, if emeralize is notified of claimed copyright infringement, or otherwise becomes aware of facts and circumstances from which infringement is apparent, we will respond expeditiously by removing, or disabling access to, the material that is claimed to be infringing or to be the subject of infringing activity. emeralize will comply with the appropriate provisions of the DMCA in the event a counter notification is received by our <a href="infotimechainllc@gmail.com">designated agent</a>. 


            </p>
            <h5>Repeat Infringers</h5>
            <p>
              Under appropriate circumstances, emeralize may, in our discretion, terminate authorization of users of our system or network who are repeat infringers. 
            </p>
            <h5>Accomodation of Standard Technical Measure</h5>
            <p>
              It is emeralize's policy to accommodate and not interfere with standard technical measures we determine are reasonable under the circumstances, in other words, technical measures that are used by copyright owners to identify or protect copyrighted works.

            </p>
          </div>

          <div id="restrictedTopics" class="mb-7">
            <h4>7. Restricted Topics</h4>
            <p>There are some topics that emeralize does not publish courses in, or may publish only under certain criteria. Subject matter from courses may be excluded due to concerns that it is considered either harmful or offensive to learners, or because it is otherwise inconsistent with the values and spirit of emeralize.</p>
            <p>It is the creator’s responsibility to ensure their course follows the letter and the spirit of the policy when submitting the course for review.</p>

            <h5>Cryptocurrency</h5>
            <p>Content regarding cryptocurrency is not permitted. Only blockchain-related content that is allowed is bitcoin.
            </p>

            <b>Examples that are not allowed:
            </b>
            <ul>
              <li>
                How to Launch an NFT on Ethereum
              </li>
              <li>
                How to Deploy a Smart Contract on Solana
              </li>
            </ul>

            <b>Examples that are allowed:
            </b>
            <ul>
              <li>
                Bitcoin 101 Courses
              </li>
              <li>
                How to Setup a Bitcoin Multisig Wallet
              </li>
            </ul>


            <h5>Trading</h5>
            <p>Technical analysis courses or any content related to trading is not permitted.
            </p>

            <b>Examples that are not allowed:
            </b>
            <ul>
              <li>
                Advice on what stock or cryptocurrency to pick
              </li>
              <li>
                Breaking down candlestick charts
              </li>
            </ul>

            <b>Examples that are allowed:
            </b>
            <ul>
              <li>
                How to Buy Bitcoin
              </li>
              <li>
                Macroeconomics and historical charts tied to relevant historical events
              </li>
            </ul>

            <h5>Sexuality</h5>
            <p>Sexually explicit content or content with implied sexual activity is not permitted. Content around reproductive health and intimate relationships must be free of explicit or suggestive content. See also: Nudity and Attire. 
            </p>

            <b>Examples that are not allowed:
            </b>
            <ul>
              <li>
                Instruction on seduction, sexual techniques, or performance
              </li>
              <li>
                Discussion of sex toys
              </li>
            </ul>

            <b>Examples that are allowed:
            </b>
            <ul>
              <li>
                Safe sex courses
              </li>
              <li>
                Consent and communication
              </li>
            </ul>

            <h5>Nudity and Attire</h5>
            <p>Nudity is permitted only when essential to learning within an artistic, medical, or academic context. Attire should be appropriate to the subject area of instruction, without unnecessary emphasis on exposed body parts.
            </p>

            <b>Examples that are not allowed:
            </b>
            <ul>
              <li>
                Boudoir photography
              </li>
              <li>
                Naked yoga
              </li>
            </ul>

            <b>Examples that are allowed:
            </b>
            <ul>
              <li>
                Fine art and figure drawing
              </li>
              <li>
                Anatomical illustrations
              </li>
              <li>
                Medical footage or demonstrations
              </li>
            </ul>

            <h5>Violence and Bodily Harm</h5>
            <p>Dangerous activities or behavior likely to impact health or result in injury cannot be shown. Glorification or promotion of violence will not be tolerated. 
            </p>

            <b>Examples that are not allowed:
            </b>
            <ul>
              <li>
                Self harm
              </li>
              <li>
                Substance Abuse
              </li>
              <li>
                Unhealthy weight management practices
              </li>
              <li>
                Extreme body modification
              </li>
              <li>
                Combat courses encouraging disproportionate aggression
              </li>
            </ul>

            <b>Examples that are allowed:
            </b>
            <ul>
              <li>
                Martial arts courses
              </li>
              <li>
                Anatomical illustrations
              </li>
              <li>
                Recovery programs for substance abuse
              </li>
            </ul>

            <h5>Animal Cruelty</h5>
            <p>Treatment of animals such as pets, livestock, game, etc. must be in accordance with the recommendations of relevant animal welfare organizations.
            </p>

            <h5>Discriminatory Language or Ideas</h5>
            <p>Content or conduct fostering discriminatory attitudes on the basis of a group characteristic such as race, religion, nationality, disability, gender identity, sex, or sexual orientation will not be tolerated on the platform.
            </p>

            <h5>Illegal or Unethical Activities</h5>
            <p>Content must be in accordance with any applicable national law. Activities which are illegal in many jurisdictions may also be disallowed, even if permitted within the uploader’s country of residence.
            </p>
            <b>Examples that are not allowed:
            </b>
            <ul>
              <li>
                Directions on cracking software access
              </li>
              <li>
                Instruction in doxxing or other forms of harassment
              </li>
            </ul>

            <b>Examples that are allowed:
            </b>
            <ul>
              <li>
                Instruction on how to find coupons or cheat codes
              </li>
            </ul>

            <h5>Sensitive or otherwise inappropriate topics or language
            </h5>
            <p>As a global learning platform with learners ranging from casual hobbyists to professional enterprise customers, we must take into consideration many sensitivities when evaluating content. 
            </p>
            <p>We will examine not only the kind of topic under discussion, but also how those topics are presented. When providing instruction on a sensitive subject area, ensure that all associated course materials treat that subject with care. Avoid language and imagery which is inflammatory, offensive or otherwise insensitive.
            </p>

            <h5>Content for Young People</h5>
            <p>emeralize is not currently set up to support underage learners. Persons under the age of consent (for example, 13 in the US or 16 in Ireland) may not use the services. Those under 18 but above the age of consent may use the services only if a parent or guardian opens their account, handles any enrollments, and manages their account usage.
            </p>
            <p>As such, please ensure any subject matter oriented towards young students is clearly marketed to parents and guardians who will be supervising their learning.
            </p>

            <h5>How to Report Abuse</h5>
            <p>We reserve the right to add to and modify this list at any time. If you see a topic that you believe should not be on the platform, please notify us by filling out this <a href="https://docs.google.com/forms/d/e/1FAIpQLScENW5waGviOhvDSh8qDWj406Yifu5w49pHV2XikrQxx5y0DA/viewform?usp=sf_link">bug ticket.</a>

            </p>


  
          </div>
          <!-- End Sticky End Point -->
          <div id="stickyBlockEndPoint"></div>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- End Content -->
  </main>
{% endblock %}
